<h1>Sign In</h1>

<!-- <form action="/sessions" method="post">
  <label>
</form> -->

<%= form_tag "/sessions" do %>
  <fieldset>
    <%= label_tag :email %>
    <%= email_field_tag :email %>
  </fieldset>
  <fieldset>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </fieldset>
  <%= submit_tag 'Let Me In'%>
<% end %>